{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barba Firepower Bootcamp</title>
    <link rel="stylesheet" href="{% static 'CSS/styleRegister.css' %}" type="text/css">
    <script src="{% static 'JS/registerFront.js' %}"></script>
    <script type="module" src="{% static 'JS/registerBack.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="main-title-register">
        <h1>Barba Firepower Bootcamp</h1>
    </div>
    <div class="return-login-button">
        <button type="button" id="returnToLogin"><div id="arrowLeft" class="bi bi-arrow-left-square-fill"></div></button>
        <div class="return-login-pop-up-text" id="returnLoginPopUp">Return to Login</div>
    </div>
    <div class="new-profile-title">
        <h2>Welcome to create your new profile!</h2>
    </div>
    <div class="enter-data-title">
        <h3>Enter the requested data correctly.</h3>
    </div>
    <div class="form-register">
        <form action="" method="get" enctype="multipart/form-data" id="signUpForm">
            <div class="first-table-register" id="firstPartForm">
                <table>
                        <tr>
                            <td class="email-register">
                                <label for="emailInputRegister">Email:</label><br><br>
                                <input type="email" name="email" id="emailInputRegister" size="50" placeholder="johndoe0@gmail.com">
                                <div class="warnings" id="warningEmailRegister"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="first-name-register">
                                <label for="firstNameInputRegister">First Name:</label><br><br>
                                <input type="text" name="firstName" id="firstNameInputRegister" size="50" placeholder="John">
                                <div class="warnings" id="warningFirstNameRegister"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="last-name-register">
                                <label for="lastNameInputRegister">Last Name:</label><br><br>
                                <input type="text" name="lastName" id="lastNameInputRegister" size="50" placeholder="Doe">
                                <div class="warnings" id="warningLastNameRegister"></div>
                            </td>
                        </tr>
                </table>
            </div>
            <div class="second-table-register" id="secondPartForm">
                <table>
                        <tr>
                            <td class="username-register">
                                <label for="usernameInputRegister">Username:</label><br><br>
                                <input type="text" name="username" id="usernameInputRegister" size="50" placeholder="JohnDoe0000">
                                <div class="warnings" id="warningUsernameRegister"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="password-register">
                                <label for="passwordInputRegister">Password:</label><br><br>
                                <input type="password" name="password" id="passwordInputRegister" size="50" placeholder="************">
                                <div class="warnings" id="warningPasswordRegister"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="repeat-password-register">
                                <label for="repeatPasswordInputRegister">Repeat Password:</label><br><br>
                                <input type="password" name="repeatPassword" id="repeatPasswordInputRegister" size="50" placeholder="************">
                                <div class="warnings" id="warningRepeatPasswordRegister"></div>
                            </td>
                        </tr>
                </table>
            </div>
            <div class="button-table-register">
                <table>
                    <tr>
                        <td>
                            <button type="button" id="backStepButton" disabled><div>Back Step</div></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" id="nextStepButton"><div>Next Step</div></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button id="signInButton"><div>Sign In</div></button>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</body>
</html>
