/* ELEMENT */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

td {
    padding-top: 50px;
}

/* CLASS */
.header-home {
    height: 90px;
    position: fixed;
    top: 0;
    left: 102px;
    right: 0;
    border: 2px solid;
}

.header-home h1 {
    position: absolute;
    top: 5px;
    left: 50px;
}

.header-home button {
    width: 200px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 50px;
    border-radius: 100px;
    font-size: 18px;
}

.left-side-bar-home {
    width: 100px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    border: 2px solid;
}

.left-side-bar-home table {
    position: absolute;
    top: 90px;
    left: 35px;
}

.left-side-bar-home button {
    margin-left: -13px;
    font-size: 35px;
}

.main-content-home {
    margin-top: 150px;
    margin-left: 200px;
}

.main-content-home h1 {
    font-size: 30px;
}
